%button.btn.btn-secondary.btn-lg{"data-target" => "##{modal_name}Modal", "data-toggle" => "modal", :type => "button"} Withdrawal
.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "#{modal_name}ModalLabel", :role => "dialog", :tabindex => "-1", id: "#{modal_name}Modal"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title{id: "#{modal_name}ModalLabel"} Modal title
      .modal-body
        = f.number_field :amount
        = f.select geocash_uuid, options_from_collection_for_select(geocashes, 'uuid', 'created_at')
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
        %button.btn.btn-primary{:type => "button"} Save changes

